.search{
    padding: 4px;
    font-size: 17px;
  }
.searchbox{
    margin-left: 10%;
    margin-top: 20px;
}
.users{ 
    padding: 10px;
}
.card{
    margin: 10px;
}
.profileimage{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    
}
.btn{
    margin: 10px;

}
p{
    font-size: large;
}

.info{
    background-color: rgb(24, 131, 124);
}